.fixed__left{
    position: fixed;
    bottom: 0px;
    left: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    color: #CCD6F6;
}

.fixed__ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.fixed__li{
    padding: 10px;
    font-size: 20px;
    transition: all .2s ease-in;
    cursor: pointer;
}

.fixed__left::after{
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    background-color:#CCD6F6;
}

.fixed__li:hover{
    transform: translateY(-5px);
    color: #64FFDA;
}