.main{
    height: calc(100vh - 70px);
    width: 100%;
    max-width: 1600px;
    padding: 0 150px;
    margin: auto;
}

.main__container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.main__h1{
    color: #64FFDA;
    font-size: 16px;
    word-spacing: .2em;
    padding: 10px 0;
    line-height: 1.1em;
}

.main__h2{
    color: #ccd6f6;
    font-size: 80px;
    font-weight: 600;
    line-height: 1.1em;
    padding: 10px 0;
}

.main__h3{
    color: #767d91af;
    font-size: 80px;
    font-weight: 600;
    line-height: 1.1em;
    padding: 10px 0;
}

.main__text{
    max-width: 540px;
    line-height: 1.5em;
    padding: 10px 0;
    font-size: 14px;
    color: #8892B0;
}

.main__btn{
    padding: 15px;
    color: #64FFDA;
    border: 1px solid #64FFDA;
    border-radius: 5px;
    margin: 10px 0;
    transition: background-color .2s ease-in;
    cursor: pointer;
}

.main__btn:hover{
    background-color: #64ffdb2d;
}