.markdown {
  width: 100%;
  max-width: 1600px;
  height: 100vh;
  margin: auto;
  padding: 0 150px;
}


.markdown__container{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.markdown__edit{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.markdown__left{
    flex: 1;
}

.markdown__right{
    flex: 1;
}

.markdown__input{
    width: 100%;
    height: 100%;
    resize: none;
    outline: none;
    color: #fff;
    border: 1px solid #64FFDA;
    padding: 20px;
    font-size: 1.2rem;
}

.markdown__view{
    width: 100%;
    height: 100%;
    color: #fff;
    padding: 20px;
    border: 1px solid #64FFDA;
}