::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(10, 25, 47, 0.85);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(141, 156, 175, 0.365);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

a{
    color: unset;
    text-decoration: none;
}